/* ---------------------GLOBAL--------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

    /* border: 1px solid yellowgreen; */
    color: white;
}


:root {
    --neutral: rgb(82, 79, 79);
    --wrong: rgb(255, 0, 0);
    --right: rgb(33, 150, 23);
    --nav: rgb(166, 46, 46);
    --nav-hover: rgb(160, 72, 72);
    --abtn: rgb(120, 0, 167);
    --abtn-hover: rgb(152, 13, 207);
}

body {
    background-color: var(--neutral);
    height: 100vh;
    overflow: hidden;
}

p {
    font-size: 1.3em;
}

h1,
h2 {
    color: rgb(255, 249, 64);
    text-align: center;
}

button {
    font-weight: 800;
    /* outline: none; */
    /* background-color: purple; */
    Padding: 15px 30px;
    border: 2px solid var(--neutral);
    border-radius: 10px;
    /* font-size: 1.3em; */
}

/* li {
    list-style: none;
} */

/* ------------------ UTES ------------------*/

body.correct {
    background-color: var(--correct);
}

body.wrong {
    background-color: var(--wrong);
}

.nav-button {
    background-color: var(--nav);
    box-shadow: 0 0 5px black;
    transition: 0.25s;
}

.nav-button:hover {
    background-color: var(--nav-hover)
}

/* -------------------OUTER DIV------------------- */

.out-div {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* -------------------TOP BAR------------------- */


.top-bar p {
    float: right;

}

/* -------------------INNER DIV------------------- */

.inner-div {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -------------------START BUTTON------------------- */

.intro,
main {
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--neutral);
    display: none;
    border-radius: 5px;

}

.intro {
    display: block;
}

.intro p {
    text-align: center;
}

.intro button {
    display: block;
    margin: 0 auto;
}

/* -------------------QUIZ------------------- */

main {
    display: block;


}

/* -------------------QUESTIONS------------------- */

.questions {
    display: none;
}

.answer-buttons {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    /* position: fixed; */
    gap: 10px;
    margin: 20px 0;
}

.abtn {
    background-color: var(--abtn);
    border: 3px solid var(--);
    box-shadow: 0 0 5px black;
}

.abtn:hover {
    background-color: var(--abtn-hover);
}

/* -------------------FINISH------------------- */

.finish {
    display: none;
}

/* -------------------HIGHSCCORES------------------- */

.highscores {
    display: none;
}

.highscores ol {

    max-height: 200px;
}


/* -------------------HIDE FUNCTION------------------- */
.hide {
    display: none;
}

/* .show {
    display: block;
} */